body {
    background: rgb(96, 101, 101);
    font-family: "Times New Roman", Times, serif;
}
h1 {
    color: rgb(0, 9, 2);
    text-align: center;
}
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: lightgray; 
border-radius: 25%;
}