body {
    background: rgb(255, 253, 253);
    font-family: "Times New Roman", Times, serif;
}
h1 {
    color: rgb(0, 9, 2);
    text-align: center;
}
.projects {
    display:flex; 
    flex-wrap:wrap;
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(171, 185, 199);
    border-radius: 25%;
}
.project h3 {
    margin-left: 50px;
}
.project img {
    /* adjust your image sizes as needed */
    width: 300px;
    height: 200px;
    margin: 10px auto;
    border: 2px solid navy;
    display: block;
    /* center the images inside the blobs */
    text-align: center;
}
.project p {
    /* center the p text in the blob */
    text-align: center;
    margin: 15px;
}