body {
    background: rgb(181, 163, 181);
    font-family: "Times New Roman", Times, serif;
}
h1 {
    color: rgb(0, 9, 2);
    text-align: center;
}
.projects {
    display:grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(115, 167, 219);
    border-radius: 25%;
}

.projects h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.project h3 {
    margin-left: 50px;
}
.project img {
    /* adjust your image sizes as needed */
    width: 300px;
    height: 200px;
    margin: 10px auto;
    border: 2px solid rgb(246, 231, 161);
    display: block;
    /* center the images inside the blobs */
    text-align: center;
}
.project p {
    /* center the p text in the blob */
    text-align: center;
    margin: 15px;
}